body {
    background-image: url("news.jpeg");
    background-size: 100%;
    font-family: sans-serif;
    color: lightblue;
}

header {
    text-align: center;
}

main {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
.card-body {
    color: lightblue;
    width:100%
}
a {
    color: gray;
    text-align: center;
}
h1 h2 h3{
    color: lightblue;
}

.btn {
    background-color: gray;
    border: 1px solid gray;
}

.navbar-brand {
    text-align: center;
    font-family: sans-serif;
    font-size: 500%;
    color: black;
}
.px-0{
    margin: 19%;
    width:1%;
    margin-top:1%;
    padding: 1 rem;
    text-align: center;
    margin-top: 5%;
}
 
a:hover {
    background-color: lightgray;
}

#btn-scraper {
    border: 1px solid gray;
}

 h1,
 h2,
 h3 {
     color: white;
 }

 #wrapper {
     width: 960px;
     margin-left: auto;
     margin-right: auto;
     padding-top: 5%;
 }

 #articles {
     display: inline-block;
     overflow: auto;
     width: 60%;
     height: 700px;
 }

 #notes {
     float: right;
     width: 30%;
 }

 textarea,
 input {
     display: block;
     width: 100%;
     background-color: lightblue;
 }

 input {
     height: 36px;
     font-size: 24px;
 }

 textarea {
     height: 200px;
     font-size: 18px;
 }

.card-body {
    width: 50%;
}